.cards {
  overflow: auto;
  height: 100%;
  padding: 1rem;

  .card {
    max-width: 25rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: rgb(245, 245, 245);

    img {
      width: 100%;
    }

    h1{
        font-size: 1.5rem;
        font-weight: 500;
    }
  }
}
