.resume-window {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #1a1a1a;
  padding: 30px;
  box-sizing: border-box;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  iframe {
    height: 120vh;
    width: 100%;
    border: none;
    display: block;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: white;
    animation: fade-in 0.5s ease;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .resume-window {
    padding: 10px;
    iframe {
      height: 100vh;
    }
  }
}
