.spotify-window {
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  iframe {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
  }
}
