.mobile-warning-overlay {
  background-color: rgba(0, 0, 0, 0.636);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 4rem;
  backdrop-filter: blur(10px);
  color: rgba(181, 180, 179, 0.838);

  .warning-content {
    text-align: center;
    border: 1px solid grey;
    background-color: rgba(80, 79, 79, 0.196);
    padding: 15px 20px;
    border-radius: 8px;

    h1 {
      font-size: 2.2rem;
      font-weight: 500;
      background: linear-gradient(125deg, rgb(239, 239, 239), rgb(81, 81, 81));
      background-clip: text;
      color: transparent;
    }

    p {
      font-size: 1.4rem;
      color: rgb(185, 184, 184);
      font-weight: 400;
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile-warning-overlay {
    display: flex;
  }
}
