nav {
  width: 100%;
  height: 2rem; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; 

  padding-inline: 1rem;
  color: rgba(227, 227, 227, 0.9);
  background-color: #1f1f1f72; 
  backdrop-filter: blur(15px) saturate(120%); 
  -webkit-backdrop-filter: blur(15px) saturate(120%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none; 

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 0.25rem; 
    height: 100%;
  }

  .nav-item {
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    cursor: default;
    transition: background-color 0.2s;
    height: 85%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    p {
      margin: 0;
      line-height: 1;
    }
  }

  .apple-icon {
    padding-inline: 0.8rem;

    img {
      height: 14px;
      width: auto;
      opacity: 0.9;
    }
  }


  .app-name {
    font-weight: 700;
  }

  .nav-icon {
    padding: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

    img {
      height: 16px;
      filter: invert(1);
    }
  }

  .date-time {
    margin-left: 0.5rem;
    font-feature-settings: "tnum"; 
  }
}
