* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;

  background-image: url(/mac-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  background-color: black;
}
